<template>
  <v-container>
    <v-layout v-if="error">
      <v-flex>
        <app-alert 
        @dismissed="onDismissed"
        :text="error.message"></app-alert>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex>
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignin">

                <v-layout>
                  <v-flex>
                    <v-text-field 
                    name="email"
                    label="Mail"
                    id="email"
                    v-model="email"
                    type="email"
                    required>

                    </v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout>
                  <v-flex>
                    <v-text-field 
                    name="password"
                    label="Password"
                    id="password"
                    v-model="password"
                    type="password"
                    required>

                    </v-text-field>
                  </v-flex>
                </v-layout>

               

                <v-layout>
                  <v-flex>
                    <v-btn 
                    class="primary"
                    type="submit"
                    :loading="loading"
                    :disabled="loading">
                    Sign In
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                    </v-btn>
                  </v-flex>
                </v-layout>

              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
  export default {
    data(){
      return {
        email : '',
        password: ''
      }
    },
    computed: {
     
      user(){
        return this.$store.getters.user
      },
      loading(){
        return this.$store.getters.loading
      },
      error(){
        return this.$store.getters.error
      }
    },
    watch: {
      user(value){
        if(value !== null && value !== undefined){
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignin(){
        // console.log({
        //   email: this.email , 
        //   password: this.password , 
        //   confirm_password: this.confirm_password
        // })
        this.$store.dispatch('signUserIn', {
          email: this.email,
          password: this.password
        })
      },

      onDismissed(){
        console.log('Dismissed Alert')
        this.$store.dispatch('clearError')
      }
      
    }
  }
</script>