<template>
  <v-container>
    <v-layout row wrap class="mb-2">
      <v-flex xs12 sm6 class="text-xs-center">
          <v-btn class="info" large router to="/meetups">Explore Meetups</v-btn>
      </v-flex>
      <v-flex xs12 sm6>
          <v-btn class="info" large router to="/meetups/new">Organize Meetups</v-btn>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs12 class="text-xs-center">
         <v-progress-circular 
         indeterminate 
         :size="70" 
         :width="7" 
         color="purple"
         v-if="loading"></v-progress-circular>
      </v-flex>
    </v-layout>

    <v-layout row wrap class="mt-2" v-if="!loading">
        <v-flex xs12>
          <v-carousel style="cursor:pointer">
            <v-carousel-item 
            v-for="(meetup,i) in meetups" 
            v-bind:src="meetup.imageUrl" 
            :key="meetup.id"
            @click="onLoadMeetup(meetup.id)">
            <div class="title">
               {{meetup.title}}
            </div>
            </v-carousel-item>
          </v-carousel>
        </v-flex>
    </v-layout>  

    <v-layout row wrap class="mb-2">
      <v-flex xs12   class="text-xs-center">
          <p>Join our team</p>
      </v-flex>
      
    </v-layout>

  </v-container>
</template>

<script>
   export default {
     computed: {
       meetups() {
        
         return this.$store.getters.featuredMeetups
         
       },
       loading(){
         return this.$store.getters.loading
       }
     },
     methods: {
       onLoadMeetup(id) {
         this.$router.push('/meetup/' + id);
       }
     }
   }
</script>

<style scoped>
   .title{
     position: absolute;
     bottom: 50px;
     background-color: rgba(0,0,0,0.5);
     color: white;
     font-size: 2em;
     padding: 5px;
   }
</style>

