<template>
  <v-app light>
    <v-navigation-drawer temporary v-model="sideNav">

      <v-list-tile 
      v-for="item in menuItems" 
      :key="item.title"
      :to="item.link">

        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
          
        </v-list-tile-action>
        <v-list-tile-content>
          {{item.title}}
        </v-list-tile-content>

      </v-list-tile>

       <v-list-tile>

        <v-list-tile-action>
          <v-icon>exit_to_ap</v-icon>
          
        </v-list-tile-action>
        <v-list-tile-content>
          Logout
        </v-list-tile-content>

      </v-list-tile>

    </v-navigation-drawer>

    <v-toolbar dark class="primary">

      <v-toolbar-title >
        <router-link style="cursor:pointer" to="/" tag="span">Suvo Hasan</router-link>
      </v-toolbar-title>

      <v-toolbar-side-icon 
      @click.stop="sideNav = !sideNav"
      class="hidden-sm-and-up" >
      </v-toolbar-side-icon>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-xs-only">
        
         <v-btn flat 
         v-for="item in menuItems" 
         :key="item.title"
         :to="item.link">
           <v-icon dark left>{{ item.icon }}</v-icon>
           {{item.title}}
         </v-btn>

         <v-btn 
         flat 
         v-if="userIsAuthenticated" 
         @click="onLogOut">
           <v-icon dark left>exit_to_app</v-icon>
           Logout
         </v-btn>

      </v-toolbar-items>

    </v-toolbar>

    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: false
      }
    },
    computed: {
      menuItems() {
        let menuItems = [
          { link: '/signup' , 
            icon: 'face' , 
            title: 'Sign Up' },
          { link: '/signin' , 
            icon: 'lock_open' ,
            title: 'Sign In' }
        ]
        if(this.userIsAuthenticated){
          menuItems = [
           { link: '/meetups' , 
             icon: 'supervisor_account' , 
             title: 'View Meetups'},
           { link: '/meetups/new' , 
             icon: 'room' , 
             title: 'Organize Meetups'},
             
           { link: '/profile' ,
             icon: 'person' ,
             title: 'Profile'}
             
          ]
          
        }
        return menuItems
      },
      userIsAuthenticated(){
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      }
    },
    methods: {
      onLogOut(){
        this.$store.dispatch('logout')
        this.$router.push('/signin')

      }
    }
  }

</script>
