<template>
  <v-container>

    <v-layout row wrap v-if="loading">
      <v-flex xs12 class="text-xs-center">
         <v-progress-circular 
         indeterminate 
         :size="70" 
         :width="7" 
         color="purple"
         v-if="loading"></v-progress-circular>
      </v-flex>
    </v-layout>


    <v-layout row wrap v-else>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h5 class=" mb-0">{{meetup.title}}</h5>
            <template v-if="userIsCreator">
              <v-spacer></v-spacer>
              <app-edit-meetups-details-dialogue
              :meetup="meetup"></app-edit-meetups-details-dialogue>
            </template>

          </v-card-title>   
          <v-card-media :src="meetup.imageUrl" height="400px">
          </v-card-media>
          <v-card-text>
              <div class="info--text">{{meetup.date | date }} - {{meetup.location}}</div>
              <div>
                <app-edit-meetups-date-dialogue
                :meetup="meetup" v-if="userIsCreator">

                </app-edit-meetups-date-dialogue>

                <app-edit-meetups-time-dialogue
                :meetup="meetup" v-if="userIsCreator">

                </app-edit-meetups-time-dialogue>
              </div>
              <div>{{meetup.description}}</div>
          </v-card-text>
          <v-card-actions>
              <v-spacer></v-spacer>
              <app-meetups-register-dialogue
              :meetupId="meetup.id"
              v-if="userIsAuthenticated">

              </app-meetups-register-dialogue>
             
          </v-card-actions>
        </v-card> 
      </v-flex>
    </v-layout>


  </v-container>
</template>

<script>
    export default {
        props: ['id'],
        computed: {
            meetup () {
                return this.$store.getters.loadedMeetup(this.id)
            },
            userIsAuthenticated(){
              return this.$store.getters.user !== null && this.$store.getters.user !== undefined
            },
            userIsCreator(){
              if(!this.userIsAuthenticated){
                return false
              }
              return this.$store.getters.user.id === this.meetup.creatorId
            },
            loading(){
              return this.$store.getters.loading
            }
        }
    }
</script>
