<template>
  <v-dialog 
  width="350px" 
  persistant
  v-model="editedDialogue">

    <v-btn 
    fab
    accent
    slot="activator">
        <v-icon>
            edit
        </v-icon>
    </v-btn>

    <v-card>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-title>Edit Meetup</v-card-title>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-text>
                    <v-text-field 
                    name="title"
                    label="Title" 
                    id="title" 
                    v-model="editedTitle"
                    required>

                    </v-text-field>

                    <v-text-field 
                    name="description"
                    label="Description" 
                    id="description" 
                    v-model="editedDescription"
                    multi-line
                    required>

                    </v-text-field>
                    </v-card-text>

                    
                </v-flex>
            </v-layout>
            <v-divider></v-divider>

            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-actions>
                        <v-btn 
                        flat 
                        class="blue--text darken-1"
                        @click="editedDialogue = false">
                                Close
                        </v-btn>

                        <v-btn  
                        flat 
                        class="blue--text darken-1"
                        @click="onSaveChanges">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-flex>
            </v-layout>

        </v-container>
    </v-card>

  </v-dialog>
</template>

<script>
    export default {
        props: ['meetup'],
        data(){
            return {
                editedDialogue: false,
                editedTitle: this.meetup.title,
                editedDescription: this.meetup.description
            }
        },
        methods: {
            onSaveChanges(){
                if(this.editedTitle.trim() ===  '' ||  this.editedDescription.trim() ===  ''){
                    return
                }
              this.editedDialogue = false;
               this.$store.dispatch('updateMeetupData' , {
                   id: this.meetup.id,
                   title: this.editedTitle,
                   description: this.editedDescription
               })   
            }
        }
    }
</script>
